body{
    border: 0;
    margin: 0;
    padding: 0;
    background: #000000;
    overflow-x: hidden;
}

.page{
    width: 100%;
    min-height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    color: #00A0C6;
    margin: 0;
 }

#indice{
    color: #CCCCCC;
    text-align: center;
    font-size: 5vw;
}

#indice p{
    margin: 0;
}